<div class="home_dropdown invisible">

	<div class="home_option">
		<div class="home_option-text">
			<p class="text-capitalize d-flex justify-content-between">
				Sign in
				<a href="/user/get/myrides/" >
				<span class="home_dropdown-arrow"></span>
			</p>
				</a>
		</div>

		<div class="home_option-text">
			<p class="text-capitalize d-flex justify-content-between">
				Sign up
				<a href="/user/get/myrides/" >
					<span class="home_dropdown-arrow"></span>
				</a>
			</p>
		</div>

	</div>

</div>