<footer>
	<!-- <ul class="footer_list">
		<li class="footer_item"><a href="">How It Works</a></li>
		<li class="footer_item"><a href="">About Us</a></li>
		<li class="footer_item"><a href="">Contact</a></li>

	</ul> -->
	<div class="copyright"> © Copyright 2020 ShareMyRide  All Rights Reserved</div>

</footer>