<!DOCTYPE html>
<html>
<head>

	 <title>V-Share</title>
	 <!-- #############	HEADER #######################-->
	           <%- include('components/header.ejs');  -%>
     <!--Custom css-->
     <link rel="stylesheet" type="text/css" href="/public/styles/style.css">
  

</head>

<body>
      <!-- ############# NAVIGATION #######################-->
	           <%- include('components/nav.ejs');  -%>

	    <!-- ############# SEARCH #######################-->
             <%- include('components/search.ejs');  -%>

	
</body>
	 <!-- #############	FOOTER #######################-->
	           <%- include('components/footer.ejs');  -%>
</html>